.ord-connect-wallet-button {
  color: #000;
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 40px;
  padding: 10px 16px;
  border: 0px;
}

.ord-connect-wallet-button span::before {
  content: "Connect";
}

@media screen and (min-width: 768px) {
  .ord-connect-wallet-button {
    padding: 10px 24px;
  }

  .ord-connect-wallet-button span::before {
    content: "Connect wallet";
  }
}

.ord-connect-wallet-button:hover {
  background-color: #f2f2f2;
}

.ord-connect-wallet-button:active {
  opacity: 0.7;
}
