body {
  background-color: #000;
  color: #fff;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 8px;
}

.controls {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
