body {
  background-color: #000;
  color: #fff;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 8px;
}

.test-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.controls {
  display: flex;
}

.details {
  word-break: break-word;
}
