.ord-connect-wallet-modal {
  position: relative;
  z-index: 10;
}

.ord-connect-wallet-modal .backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.ord-connect-wallet-modal .outer-container {
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .ord-connect-wallet-modal .outer-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 628px;
    height: auto;
    border-radius: 20px;
  }
}

.ord-connect-wallet-modal .inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.ord-connect-wallet-modal .panel {
  width: 100%;
  background-color: #121212;
  overflow: hidden;
  text-align: left;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .ord-connect-wallet-modal .panel {
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 20px;
  }
}

.ord-connect-wallet-modal .panel-title-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 24px 20px;
  align-items: center;
  border-bottom: 1px solid #333;
}

@media screen and (min-width: 768px) {
  .ord-connect-wallet-modal .panel-title-container {
    padding-left: 48px;
    border-bottom: 0px;
    padding-bottom: 8px;
  }

  .ord-connect-wallet-modal .unsupported-browser-message {
    font-size: 16px;
    padding-left: 24px;
  }
}

.ord-connect-wallet-modal .panel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin: 0px;
}

.ord-connect-wallet-modal .unsupported-browser-message {
  color: #fff;
}

.ord-connect-wallet-modal .close-button {
  background: transparent;
  border: 0px;
  cursor: pointer;
}

.ord-connect-wallet-modal .panel-content-container {
  margin: 64px 24px 0px;
}

@media screen and (min-width: 768px) {
  .ord-connect-wallet-modal .panel-content-container {
    margin-bottom: 48px;
    margin-top: 48px;
  }
}

.ord-connect-wallet-modal .panel-content-inner-container {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.ord-connect-wallet-modal .wallet-option-button {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  background: transparent;
  border: 0px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  cursor: pointer;
}

.waiting-cursor {
  cursor: wait !important;
}

.wallet-identifier-container {
  position: relative;
  display: inline-block;
}

.wallet-identifier-container img {
  position: absolute;
  bottom: 4px;
  right: 0;
  width: 12px;
  border-radius: 50%;
  background-color: black;
  object-fit: cover;
}

.ord-connect-wallet-modal .wallet-option-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.ord-connect-wallet-modal .wallet-option-button:active {
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.7;
}

.ord-connect-wallet-modal .wallet-option-button:first-child {
  padding: 32px 32px 24px;
  border: 0px;
  margin-bottom: 0px;
  border-radius: 20px 20px 20px 20px;
}

.ord-connect-wallet-modal .wallet-option-button:nth-of-type(2) {
  border: 0px;
  padding: 24px 32px 32px;
  margin-bottom: 0px;
  border-radius: 0px 0px 20px 20px;
}

.ord-connect-wallet-modal .wallet-option-label {
  margin-left: 16px;
  flex-grow: 1;
  text-align: left;
}

.ord-connect-wallet-modal .horizontal-separator {
  margin: 0px 16px;
  border: 0px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
}

.ord-connect-wallet-modal .error-message {
  margin: 16px 0px 0px 0px;
  color: #e54545;
  font-size: 14px;
  line-height: 20px;
}
